<ng-container *ngLet="loading$ | async as loading">
  <ng-container *ngLet="loggedUser$ | async as loggedUser">
    <div class="header-placeholder"></div>
    <div
      class="header-wrapper d-flex justify-content-between align-items-center w-full"
    >
      <img
        class="logo-wrapper cursor-pointer"
        routerLink="home"
        src="assets/full-logo.svg"
      />

      <ng-container *ngIf="loading">
        <app-spinner [dark]="true"></app-spinner>
      </ng-container>
      <ng-container *ngIf="!loading">
        <ng-container
          *ngTemplateOutlet="navbarOptions; context: { loggedUser: loggedUser }"
        ></ng-container>
        <img
          *ngIf="sidenavOpen"
          class="menu-icon cursor-pointer"
          src="assets/close-icon.svg"
          alt="Menu"
          (click)="toggleSidenav()"
        />
        <img
          *ngIf="!sidenavOpen"
          class="menu-icon cursor-pointer"
          src="assets/hamburger-icon.svg"
          alt="Menu"
          (click)="toggleSidenav()"
        />
      </ng-container>
    </div>
    <div
      class="sidenav d-none flex-direction-column justify-content-center"
      [class.open]="sidenavOpen"
    >
      <ng-container *ngIf="sidenavOpen">
        <ng-container
          *ngTemplateOutlet="navbarOptions; context: { loggedUser: loggedUser }"
        ></ng-container
      ></ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #navbarOptions let-loggedUser="loggedUser">
  <div class="nav-options d-flex justify-content-between align-items-center">
    <label class="nav-link" routerLink="home">Home</label>
    <label
      *ngIf="!loggedUser"
      class="nav-link login-link"
      (click)="onLoginClick()"
      >Login</label
    >
    <label *ngIf="loggedUser" class="nav-link profile-name">{{
      loggedUser.firstName + " " + loggedUser.lastName
    }}</label>
    <img
      *ngIf="loggedUser"
      src="assets/navbar-profile-image.png"
      class="nav-profile sidenav-hidden cursor-pointer"
      (click)="onProfileClick()"
    />
    <button
      *ngIf="!loggedUser"
      class="create-account text-align-center cursor-pointer"
      (click)="onRegisterClick()"
    >
      New Account
    </button>
  </div>
</ng-template>
