<ng-container *ngLet="loading$ | async as loading">
  <ng-container *ngLet="loggedUser$ | async as loggedUser">
    <div class="header-placeholder"></div>
    <div
      class="header-wrapper d-flex justify-content-between align-items-center w-full"
    >
      <button class="button-img" routerLink="home">
        <img class="logo-wrapper cursor-pointer" src="assets/etf-logo.svg" />
      </button>

      <ng-container *ngIf="loading">
        <app-spinner [dark]="true"></app-spinner>
      </ng-container>
      <ng-container *ngIf="!loading">
        <ng-container
          *ngTemplateOutlet="
            navbarOptions;
            context: {
              loggedUser: loggedUser
            }
          "
        ></ng-container>
        <button
          *ngIf="sidenavOpen"
          class="button-img menu-icon cursor-pointer"
          routerLink="home"
          (click)="toggleSidenav()"
        >
          <img src="assets/close-icon.svg" alt="Menu" />
        </button>
        <button
          *ngIf="!sidenavOpen"
          class="button-img menu-icon cursor-pointer"
          routerLink="home"
          (click)="toggleSidenav()"
        >
          <img src="assets/hamburger-icon.svg" alt="Menu" />
        </button>
      </ng-container>
    </div>
    <div
      class="sidenav d-none flex-direction-column justify-content-center"
      [class.open]="sidenavOpen"
    >
      <ng-container *ngIf="sidenavOpen">
        <ng-container
          *ngTemplateOutlet="
            navbarOptions;
            context: {
              loggedUser: loggedUser
            }
          "
        ></ng-container
      ></ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #navbarOptions let-loggedUser="loggedUser">
  <div class="nav-options d-flex justify-content-end align-items-center">
    <label
      *ngIf="!loggedUser"
      class="nav-link login-link"
      (click)="onLoginClick()"
      tabindex="0"
      >Login</label
    >

    <label
      *ngIf="
        loggedUser && !loggedUser.admin && loggedUser.selectedOrganizationId
      "
      class="nav-link"
      tabindex="0"
      routerLink="patients"
      >Patients</label
    >
    <label
      *ngIf="
        loggedUser && !loggedUser.admin && loggedUser.selectedOrganizationId
      "
      class="nav-link"
      tabindex="0"
      routerLink="admissions"
      >Admissions</label
    >
    <label
      *ngIf="loggedUser && loggedUser.admin"
      class="nav-link"
      tabindex="0"
      routerLink="users"
      >Users</label
    >
    <label
      *ngIf="loggedUser && loggedUser.admin"
      class="nav-link"
      tabindex="0"
      routerLink="organizations"
      >Organizations</label
    >
    <div class="d-flex justify-content-between align-items-center">
      <label *ngIf="loggedUser" class="nav-link profile-name bold">{{
        loggedUser.given + " " + loggedUser.family
      }}</label>
      <button
        *ngIf="loggedUser"
        class="button-img cursor-pointer sidenav-hidden nav-profile"
        (click)="onProfileClick()"
      >
        <img src="assets/navbar-profile-image.png" class="cursor-pointer" />
      </button>
    </div>
  </div>
</ng-template>
