<ng-container *ngLet="selectedPatient$ | async as selectedPatient">
  <form [formGroup]="form">
    <button class="close-icon button-img" (click)="close()">
      <img src="assets/close-icon.svg" alt="close" />
    </button>
    <label *ngIf="data.encounter" class="modal-title">Update admission</label>
    <label *ngIf="!data.encounter" class="modal-title">Create admission</label>
    <div style="position: relative">
      <app-autocomplete-field
        name="patient"
        label="Patient"
        placeholder="Search patients"
        [formGroup]="form"
        [errorConfig]="formConfig['patient'].errorConfig"
        (onChangeCallback)="searchPatients($event)"
        (onSelectCallback)="selectPatient($event)"
        [loading]="loadingPatients$ | async"
        [options]="patients$ | async"
      ></app-autocomplete-field>
      <label
        class="create-new-patient-link"
        (click)="onCreateNewPatientForEncounterClick()"
        >No patient? Create new patient</label
      >
    </div>
    <app-form-field
      name="status"
      label="Status"
      type="select"
      class="name-field"
      [formGroup]="form"
      [options]="formConfig['status'].options"
      [errorConfig]="formConfig['status'].errorConfig"
    ></app-form-field>
    <app-form-field
      name="priority"
      label="Priority"
      type="select"
      class="line-field"
      [formGroup]="form"
      [options]="formConfig['priority'].options"
      [errorConfig]="formConfig['priority'].errorConfig"
    ></app-form-field>
    <app-form-field
      name="periodStart"
      label="Start date"
      type="date"
      class="start-field"
      [formGroup]="form"
      [errorConfig]="formConfig['periodStart'].errorConfig"
    ></app-form-field>
    <app-form-field
      name="periodEnd"
      label="End date"
      type="date"
      class="end-field"
      [formGroup]="form"
      [errorConfig]="formConfig['periodEnd'].errorConfig"
    ></app-form-field>

    <button
      (click)="submitUpsertEncounter(selectedPatient)"
      mat-raised-button
      color="primary"
    >
      <label *ngIf="!data.encounter">Create admission</label>
      <label *ngIf="data.encounter">Update admission</label>
      <app-spinner *ngIf="loading$ | async"></app-spinner>
    </button>
  </form>
</ng-container>
