<ng-container [ngSwitch]="type">
  <mat-form-field
    [formGroup]="formGroup"
    appearance="outline"
    class="form-field"
    *ngSwitchCase="'date'"
  >
    <mat-label>{{ label }}</mat-label>
    <input matInput [formControlName]="name" [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>{{ getErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field
    [formGroup]="formGroup"
    class="form-field"
    appearance="outline"
    *ngSwitchCase="'select-autocomplete'"
  >
    <mat-label>{{ label }}</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="name"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions$ | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-error>{{ getErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field
    [formGroup]="formGroup"
    class="form-field"
    appearance="outline"
    *ngSwitchCase="'select'"
  >
    <mat-label>{{ label }}</mat-label>
    <mat-select [formControlName]="name">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
    <mat-error>{{ getErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field
    [formGroup]="formGroup"
    appearance="outline"
    class="form-field"
    *ngSwitchDefault
  >
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [formControlName]="name"
      [attr.type]="type"
      [attr.name]="name"
    />
    <mat-error>{{ getErrorMessage() }}</mat-error>
  </mat-form-field>
</ng-container>
