.modal-content {
  padding: 30px;

  .close-icon {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }

  * {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
  }

  .modal-title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #334144;
  }

  .password-field {
    margin-top: 10px;
  }

  .name-fields {
    margin-top: 30px;
  }

  .date-field,
  .email-field,
  .password-field {
    margin-top: 10px;
  }

  .first-name-field {
    margin-right: 10px;
  }

  .register-button {
    width: 380px;
    height: 50px;
    border-radius: 3px;
    background: linear-gradient(270deg, #ecbcb3 0%, #eaa79e 100%);
    box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
    margin-top: 20px;
    border-radius: 3px;
    border: 0;
    color: white;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;

    label {
      margin-right: 8px;
    }

    * {
      cursor: pointer;
    }
  }
}
