<form>
  <img
    src="assets/close-icon.svg"
    alt="close"
    class="close-icon"
    (click)="close()"
  />
  <label class="modal-title">Create an Account</label>
  <div class="d-flex justify-content-between w-full name-fields">
    <app-form-field
      name="firstName"
      label="First Name"
      type="text"
      [formGroup]="form"
    ></app-form-field>
    <app-form-field
      name="lastName"
      label="Last Name"
      type="text"
      [formGroup]="form"
    ></app-form-field>
  </div>

  <app-form-field
    name="birthDate"
    label="Date of Birth"
    type="date"
    [formGroup]="form"
  ></app-form-field>
  <app-form-field
    name="emailAddress"
    label="Email Address"
    type="email"
    [formGroup]="form"
  ></app-form-field>
  <app-form-field
    name="password"
    label="Password"
    type="password"
    [formGroup]="form"
  ></app-form-field>

  <button
    class="register-button d-flex align-items-center justify-content-center"
    (click)="submitRegister()"
  >
    <label>Create Account</label>
    <app-spinner *ngIf="loading$ | async"></app-spinner>
  </button>
</form>
