<form [formGroup]="form">
  <button class="close-icon button-img" (click)="close()">
    <img src="assets/close-icon.svg" alt="close" />
  </button>
  <label class="modal-title">Welcome Back</label>
  <app-form-field
    name="emailAddress"
    label="Email address"
    type="email"
    class="email-field"
    [formGroup]="form"
    [errorConfig]="formConfig['emailAddress'].errorConfig"
  ></app-form-field>
  <app-form-field
    name="password"
    label="Password"
    type="password"
    class="password-field"
    [formGroup]="form"
    [errorConfig]="formConfig['password'].errorConfig"
  ></app-form-field>

  <button
    mat-raised-button
    color="primary"
    [disabled]="loading$ | async"
    (click)="submitLogin()"
  >
    <label>Login to your Account</label>
    <app-spinner *ngIf="loading$ | async"></app-spinner>
  </button>
</form>
