.encounter-details-wrapper {
  width: 100%;
  padding: 20px;
  min-height: calc(100vh - 80px);
}

.headline-wrapper {
  margin-bottom: 16px;

  h2 {
    margin-bottom: 0;
  }

  > div {
    gap: 8px;
  }
}

.encounter-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;

  .encounter-details-row {
    gap: 8px;
  }

  .details-key {
    font-size: 18px;
    font-weight: bold;
  }
}

::ng-deep div[role="tab"]:focus {
  background-color: lightblue;
}
