<div class="w-full encounter-details-wrapper">
  <div
    class="d-flex justify-content-between align-items-center w-full headline-wrapper"
  >
    <h2>Admission details</h2>
    <div class="d-flex align-items-center">
      <app-spinner *ngIf="true" [dark]="true"></app-spinner>
      <button mat-raised-button color="primary">Discharge patient</button>
      <button mat-raised-button color="primary">Update admission</button>
      <button mat-raised-button color="warn">Delete admission</button>
    </div>
  </div>

  <ng-container *ngIf="encounterId$ | async">
    <mat-tab-group>
      <mat-tab label="Conditions">
        <app-conditions-page></app-conditions-page>
      </mat-tab>
      <mat-tab label="Medications">
        <app-medications-page></app-medications-page>
      </mat-tab>
      <mat-tab label="Allergies">
        <app-allergys-page></app-allergys-page>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</div>
