<div *ngLet="loggedUser$ | async as user" class="profile-wrapper">
  <button class="close-icon button-img" (click)="close()">
    <img src="assets/close-icon.svg" alt="close" />
  </button>
  <div class="profile-title-wrapper d-flex align-items-center w-full">
    <img
      src="assets/user-profile-image.png"
      alt="close"
      width="80px"
      height="80px"
      class="profile-icon"
    />
    <div class="d-flex justify-content-between flex-direction-column w-full">
      <label class="profile-title-text d-block">{{
        user ? user.given + " " + user.family : "Unknown"
      }}</label>
      <label class="profile-title-subtext d-block">{{
        user?.admin ? "Admin" : "Regular user"
      }}</label>
    </div>
  </div>

  <div class="profile-info-row w-full">
    <label class="profile-info-title d-block">First name</label>
    <label class="profile-info-value d-block">{{
      user?.given || "Unkown"
    }}</label>
  </div>
  <div class="profile-info-row w-full">
    <label class="profile-info-title d-block">Last name</label>
    <label class="profile-info-value d-block">{{
      user?.family || "Unkown"
    }}</label>
  </div>
  <div class="profile-info-row w-full">
    <label class="profile-info-title d-block">Date of Birth</label>
    <label class="profile-info-value d-block">{{
      (user?.birthDate | date) || "Unknown"
    }}</label>
  </div>
  <div class="profile-info-row w-full">
    <label class="profile-info-title d-block">Email address</label>
    <label class="profile-info-value d-block">{{
      user?.emailAddress || "Unknown"
    }}</label>
  </div>

  <button class="logout-button" (click)="logout()">Logout</button>
</div>
